/* BODY */
body { color: black;}

/* SIDEBAR */
.info-login img { width: 60px; height: 60px; margin: 0 10px; border-radius: 100%; -webkit-boder-radius:100%;}
.info-login { justify-content: center; padding: 10px 0; color: #fff; background-color: #094074; margin: 10px 0; }

/* KANDIDAT */
.table-bordered thead td, .table-bordered thead th {border-bottom-width: 2px; text-align: center; }


/* FORM KANDIDAT */
.form-group label {font-weight: bold;}

/* PEMILIH */
.badge-warning, .badge-danger { color: #fff; background-color: #f6c23e; height: 40px; width: 70px; padding: 12px; font-size: 15px;}

/* LOGIN VOTE */
body#login #content { height: 100%; background-repeat: no-repeat; background: linear-gradient(-45deg,#f16f2a
33%,transparent 0),linear-gradient(-45deg,#49E6C7 100%,transparent 0);}
body#login #content .card.nothing { background-color: unset; border: 0; box-shadow: unset; }
.card-container.card { max-width: 350px; padding: 40px 40px;}
.btn { font-weight: 700; height: 36px; -moz-user-select: none; -webkit-user-select: none; user-select: none; cursor: default;}
.card.login { padding: 20px 25px 30px; margin: 0 auto 25px; margin-top: 15px; box-shadow: 0px 1px 26px 0px #4e73df;}
.profile-img-card{ width: 100px; height: 120px; margin: 0 auto 10px;}
.profile-name-card{ font-size: 16px; font-weight: bold; text-align: center; margin: 10px 0 0; min-height: 1em;}
.form-signin #nis_pemilih, .form-signin #no_token { direction: ltr; height: 44px; font-size: 16px;}
.form-signin input [type=text], .form-signin button { width: 100%; display: block; margin-bottom: 10px; z-index: 1; position: relative; box-sizing: border-box;}
.form-signin .form-control:focus{border-color: #aab3ce; outline: 0; box-shadow: inset 0 1px 1px #4e73df 0 0 8px #4e73df;}
.btn.btn-signin{ background-color: #4e73df; padding: 0px; font-weight: 700; font-size: 14px; height: 36px; border-radius: 3px; border: none; transition: all 0.218s; margin: 10px; margin-top: 20px;}
.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {background-color: rgb(10, 194, 219);}
.form-control{ margin: 10px;}
small{text-align: center;}
#welcome .inner { position:relative; width: 100%; z-index: 99; padding: 0 25px; }
#welcome .inner h1 { position:relative; color: #000; text-transform: uppercase; font-family: serif; font-weight: 600; }
#welcome .inner p { position:relative; color: #000; text-transform: uppercase;  font-family: serif; font-weight: 600; font-size: 20px; }
#welcome .content { position: relative;background-position: center center; background-size: cover; -webkit-background-size: cover; text-align: center;}
.logo img{ width:300px; height: 350px;}

/* VOTE KANDIDAT */

.row { align-content: center;}
body#login .thumb img { object-fit: cover; width: 250px; height: 300px;}
/* THANKS PAGE */

.img { width:300px; height:255px; align-content: center;}
element.style {align-items: center;}



